
.wp-container
{
	font-family: Raleway;
	display: flex;
}
.wp-col-1
{
	
	width: 49%;
	background-color: grey;
	margin:5px auto;
	text-align: center;
	padding: 20px 0;

}
.wp-col-2
{
	
	width: 49%;
	background-color: #eeeeee;
	margin:5px auto;
	text-align: center;
	padding: 20px 0;

}

header,footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}